.page {
    width: 78%;
    margin-left: auto;
}

.campaign-new {
    min-height: 100vh;
    position: relative;
    .influencer-list-main {
        margin-bottom: 30px;
        .influencer-list-container {
            padding: 20px 35px;
            border-bottom: 1px solid #ebebeb;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 0px 4px 0px rgba(0, 0, 0, .2);
            margin-bottom: 1.5rem;
            cursor: pointer;
            input {
                margin-right: 1.5rem;
            }
            img {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                object-fit: contain;
            }
            span {
                font-weight: bold;
            }
            p {
                margin-bottom: 0;
                span {
                    color: #7c7c7c;
                    font-weight: normal;
                }
            }
            span {
                font-size: 1vw;
                color: #2657b3;
            }
        }
    }
    .no-url {
        color: #a7a7a7;
        border: 1px solid #ccc;
        min-height: 52px;
        border-radius: 5px;
        padding: 15px;
    }
    .product-urls {
        height: 70px;
        overflow-y: scroll;
        &::-webkit-scrollbar-track
        {
            background-color: transparent;
        }
        &::-webkit-scrollbar
        {
            background-color: transparent;
            height: 7px;
            width: 7px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: #5172fc;
            border-radius: 20px;
            cursor: pointer;
        }
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #5172fc;
            border: 2px solid #5172fc;
            border-radius: 20px;
            padding: 8px;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .active-prod {
        background: #2657b3;
        color: #fff;
    }

    .selected-influencers {
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            max-height: 100px;
            overflow-y: scroll;
            li {
                font-size: 1vw;
                color: #2657b3;
                margin-bottom: 20px;
                font-weight: bold;
                img {
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    object-fit: contain;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .coupons-list {
        width: 700px;
                overflow-x: scroll;
                &::-webkit-scrollbar-track
                {
                    background-color: transparent;
                }
                &::-webkit-scrollbar
                {
                    background-color: transparent;
                    height: 7px;
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb
                {
                    background-color: #5172fc;
                    border-radius: 20px;
                }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: max-content;
            div {
                display: flex;
                
                p {
                    background-color: #d9d9d9;
                    padding: 12px 16px;
                    border-radius: 3px;
                    margin: 10px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin: 0 10px;
                    min-width: fit-content;
                }
            }
            
        }
    }

    .prod-coupons ul {
        display: flex;
        width: 780px;
        overflow-x: scroll;
        &::-webkit-scrollbar-track
        {
            background-color: #d7d7d7;
            cursor: pointer;
        }
        &::-webkit-scrollbar
        {
            background-color: transparent;
            height: 7px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: #5172fc;
            border-radius: 20px;
            cursor: pointer;
        }
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px 20px !important;
            min-width: 760px;
            span {
                min-width: 125px;
            }
            span.names {
                background-color: #d9d9d9;
                padding: 12px 16px;
                border-radius: 3px;
                margin: 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .selected {
            background-color: #5172fc;
            color: #fff;
        }
    }
    table {
        tr {
            td {
                border-bottom: none;
                display: table-cell;
            }
        }
    }
    .campaign-new-container {
        min-height: 82vh;
        .influence-buttons {
            a {
                padding: 20px 20px;
                min-width: 35%;
                font-size: 1.6vw;
                // background: #5172FC;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                min-height: 200px;
                text-decoration: none;
                color: #fff;
                position: relative;
                z-index: 2;
                transition: 1s ease-in-out;
                overflow: hidden;
                &::before {
                    content: '';
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    opacity: 0.15;
                    position: absolute;
                    top: -30px;
                    right: -30px;
                    z-index: -1;
                    transition: 1s ease-in-out;
                }
                &:nth-child(odd) {
                    background: #2657b4;
                    &::before {
                        background-color: #7464ed;
                    }
                }
                &:nth-child(even) {
                    background: #7464ed;
                    &::before {
                        background: #2657b4
                    }
                }
                &:hover {
                    &::before {
                        height: 200%;
                        width: 200%;
                        top: -75px;
                        right: -75px;
                    }
                }
            }
        }
        form {
            .input-container {
                width: 48%;
                position: relative;
                label {
                    color: #666;
                    font-weight: 600;
                }
                .input {
                    span {
                        background-color: #fff;
                        border-radius: 20px;
                        position: relative;
                        label {
                            padding: 6px 10px;
                            padding-left: 25px;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                display: flex;
                                margin: auto;
                                height: 15px;
                                width: 15px;
                                border: 1px solid #ccc;
                            }
                        }
                        
                        input {
                            opacity: 0;
                            width: 100%;
                            position: absolute;
                            height: 100%;
                            z-index: 2;
                            &:checked  + label{
                                &::before {
                                    background-color: #5172FC;
                                }
                            }
                            &:not(:checked) + label {
                                &::before {
                                    background-color: #fff;
                                }
                            }
                            
                        }
                        
                    }
                }
                textarea {
                    max-height: 52px;
                    &::-webkit-scrollbar {
                        width: 9px;
                      }
                      &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 2px grey;
                        border-radius: 0px;
                      }
                      &::-webkit-scrollbar-thumb {
                        background: #ccc; 
                        border-radius: 10px;
                      }
                      &::-webkit-scrollbar-thumb:hover {
                        background: #a1a1a1; 
                      }
                }
            }
            .drop {
                cursor: pointer;
                input {
                    cursor: pointer;
                    color: #a7a7a7;
                    font-style: italic;
                }
            }
            // .prod-discount {
            //     position: relative;
            //     &::before {
            //         content: "%";
            //         position: absolute;
            //         right: 0;
            //         bottom: 0;
            //         display: flex;
            //         margin: auto;
            //         background-color: #cccccc;
            //         height: 52px;
            //         width: 4vw;
            //         color: #000;
            //         font-size: 1.4vw;
            //         border-radius: 0 4px 4px 0;
            //         justify-content: center;
            //         align-items: center;
            //     }
            // }
            .buttons {
                width: 80%;
                margin: 2rem auto 0;
                button {
                    width: 31%;
                    min-width: unset;
                }
            }
            .discount-buttons {
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 5px;
                .button {
                    padding: 4px 16px;
                }
            }
        }
        .influen-list {
			display: none;
		}
        .influencer-list {
            .button {
                min-width: unset;
            }
            table {
                width: 100%;
                border-bottom: 1px solid #e1e0e2;
                margin: 3rem 0;
                tr {
                    border-right: 1px solid #e1e0e2;
                    td {
                        padding: 1px 8px;
                    }
                    th, td {
                        border-right: 1px solid #e1e0e2;
                        &:last-child {
                            border-right: none;
                        }
                    }
                    td {
                        border-left: 1px solid #e1e0e2;
                    }
                    &:first-child {
                        border: 1px solid #e1e0e2;
                        th {
                            padding: 10px 8px;
                            
                        }
                    }
                }
            }
        }
        .back {
            background-color: transparent;
            background: none;
            color: #000;
            border: none;
            width: fit-content;
            min-width: unset;
            text-decoration: underline;
        }
    }
}

.campaign-over {
    position: relative;
    .campaign-over-container {
        .overview-container {
            border-radius: 10px;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
            .overview-list {
                .overview-box {
                    background-position: 100%;
                    background-size: cover;
                    width: 48%;
                    color: #fff;
                    border-radius: 10px;
                    padding: 3.5rem 2rem;
                    .overview-image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 45px;
                        width: 45px;
                        border-radius: 50%;
                        padding: 10px;
                        img {
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px 16px;
                        border-radius: 4px;
                        color: #000;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        margin-top: 1rem;
                    }
                    &:nth-child(1) {
                        background-image: linear-gradient(rgba(47,0,126,.49) 100%,rgba(47,0,126,.5) 100%),url(../../assests/img/overview-blue-bg.png);
                    }
                    &:nth-child(2) {
                        background-image: linear-gradient(96.2deg,#a374f2 .62%,#6414e991 96.58%),url(../../assests/img/overview-blue-bg.png);
                    }
                    &:nth-child(3) {
                        background-image: linear-gradient(96.2deg,#a374f2 .62%,#6414e991 96.58%),url(../../assests/img/overview-blue-bg.png);
                    }
                    &:nth-child(4) {
                        background-image: linear-gradient(rgba(47,0,126,.49) 100%,rgba(47,0,126,.5) 100%),url(../../assests/img/overview-blue-bg.png);
                    }
                    
                }
            }
        }
        .feature-container {
            border-radius: 5px;
            .buttons {
                a.button {
                    padding: 6px 16px;
                    text-transform: uppercase;
                    border-radius: 10px;
                }
            }
            .feature-list {
                .feature-box {
                    width: 22%;
                    border: 1px solid #d9d9d9;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    ul {
                        padding: 0;
                        min-height: 96px;
                        margin-top: 1rem;
                        li {
                            position: relative;
                            padding-left: 13px;
                            &::before {
                                content: '>';
                                position: absolute;
                                left: 0;
                                top: 0px;
                                height: 100%;
                                width: 10px;
                                font-size: inherit;
                                color: #FF4E41;
                            }
                            &::marker {
                                display: none;
                                content: none;
                            }
                            strong {
                                color: #FF4E41;
                            }
                        }
                    }
                }
            }
            .feature-bottom {
                border-top: 1px solid #d9d9d9;
                .feature-content {
                    .react-icons {
                        button {
                            border: none;
                            outline: none;
                            background: none;
                            &:nth-child(2) {
                                img {
                                    transform: rotate(180deg);
                                }
                            }
                            img {
                                margin: 0 10px;
                            }
                        }
                    }
                }
            }
        }
        .support-container {
            border-radius: 5px;
            .support-box {
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                width: 48%;
                h5 {
                    width: 140px;
                    font-size: 16px;
                }
            }
        }
    }
}

.campaign-manage-container {
    position: relative;
    .tab-header {
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100px;
            padding: 10px 14px;
            border: none;
            border-radius: 40px;
            font-size: 13px;
            outline: none;
            background: #fff;
            border: 1px solid #7c7c7c;
            color: #000;
            &:nth-child(1) {
                margin-right: .5rem;
            }
        }
        .nav-link.active {
            background: #6414e9!important;
            margin-right: .5rem;
            border: 1px solid #6414e9!important;
            color: #fff;
        }
    }
    .confirm {
        button {
            min-height: 45px !important;
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: fit-content;
        padding: 8px 14px;
        border: none;
        border-radius: 8px;
        outline: none;
    }
    .campaign-inputs {
        input {
            min-height: unset;
            width: 100%;
        }
    }
    
}

.campaign-market {
    position: relative;
    .campaign-market-container {
        h4 {
            background: #1976D2;
            color: #fff;
            padding: 16px 20px;
        }
        .campaign-market-list {
            .campaign-market-box {
                width: 25%;
                .content {
                    border: 1px solid #d9d9d9;
                    padding: 1rem 2.5rem;
                    border-radius: 5px;
                    position: relative;
                    p {
                        margin-bottom: 0;
                        margin-top: 5px;
                        text-align: center;
                    }
                    img {
                        width: 79px;
                        object-fit: contain;
                    }
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        color: #fff;
                        background-color: #FF4E41;
                        position: absolute;
                        right: -13px;
                        top: -11px;
                        padding: 14px;
                    }
                }
                .button {
                    padding: 4px 16px;
                    margin-top: 1rem;
                    border-radius: 10px;
                }
            }
        }
        table {
            tr {
                td {
                    button {
                        min-width: unset;
                    }
                }
            }
        }
    }
    .tab-header {
        .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100px;
            padding: 10px 14px;
            border: none;
            border-radius: 40px;
            font-size: 13px;
            outline: none;
            background: #fff;
            border: 1px solid #7c7c7c;
            color: #000;
            &:nth-child(1) {
                margin-right: .5rem;
            }
        }
        .nav-link.active {
            background: #6414e9!important;
            margin-right: .5rem;
            border: 1px solid #6414e9!important;
            color: #fff;
        }
    }
}

.coupon {
    position: relative;
    .coupon-container {
        .filters {
            .input-container {
                label {
                    font-weight: bold;
                }
                input {
                    min-height: unset;
                    border: none;
                    border-bottom: 1px solid #d9d9d9;
                }
                .search-button {
                    position: relative;
                    button {
                        background-color: transparent;
                        box-shadow: none;
                        border-radius: 8px;
                        border: 1px solid #d9d9d9;
                        padding: 5.5px 23px;
                        margin-left: 1rem;
                    }
                    img {
                        position: absolute;
                        right: 10px;
                    }
                }
            }
        }

        .coupon-buttons {
            margin-top: 30px;
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 10px;
                border-radius: 8px;
                outline: none;
                box-shadow: none;
                border: none;
                &:nth-child(odd) {
                    background-color: #5172FC;
                    color: #fff;
                    margin-right: 25px;
                }
                &:nth-child(even) {
                    background-color: transparent;
                    border: 1px solid #D9D9D9;
                }
                img {
                    margin-right: 10px;
                }
            }
        }
        tr {
            border: 1px solid #d9d9d9;
            border-top: none;
            td {
                border-right: 1px solid #d9d9d9;
                &:last-child {
                    border-right: none;
                }
            }
        }

        table.coupon-table {
            margin-top: 30px;
            .table-heading {
                background-color: #5172FC;
                th {
                    color: #fff;
                    border-right: 1px solid #fff;
                    font-weight: normal;
                    line-height: 1;
                    padding: 14px 0;
                    &:last-child {
                        border-right: none;
                    }
                    input[type=checkbox] {
                        background-color: transparent !important;
                        border: 1px solid #fff;
                        accent-color: #5172fc;
                        margin: 0 auto;
                    }
                }
            }
            td {
                button {
                    width: fit-content;
                    &:nth-child(even) {
                        background: #FC5A5A;
                        margin-left: 15px;
                    }
                }
            }
            
        }

        
    }
}

.analytics {
    .analytics-container {
        .analytics-status {
            box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
            border-radius: 8px;
            .graph {
                background-image: url(../../assests/img/analytics-bg.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: bottom;
                img {
                    width: 90%;
                    display: flex;
                    margin: auto;
                }
            }
            
            p {
                color: #3A57E8;
            }
        }
        .analytics-overview {
            box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
            border-radius: 8px;
            ul {
                li {
                    display: flex;
                    flex-direction: column;
                    padding-left: 35px;
                    position: relative;
                    &::before {
                        content: '';
                        height: 20px;
                        width: 20px;
                        border: 2px solid #5172FC;
                        background-color: #fff;
                        position: absolute;
                        left: 0;
                        top: 5px;
                        border-radius: 50%;
                        z-index: 2;
                    }
                    &::after {
                        content: '';
                        height: 100%;
                        width: 1px;
                        background-color: #d9d9d9;
                        position: absolute;
                        left: 9px;
                        top: 16px;
                        z-index: 1;
                    }
                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }
                    h5 {
                        font-weight: normal;
                        color: #000;
                        margin-bottom: 7px;
                        letter-spacing: 0;
                    }
                    p {
                        color: #666;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}

.sales {
    .sales-container {
        .earnings-list {
            .earning-box {
                p {
                    span {
                        margin-top: 5px;
                        margin-right: 3px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }

        .sales-table {
            border: 1px solid #E0E4EC;
            border-radius: 8px;
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #E0E4EC;
                position: absolute;
                top: 65px;
                left: 0;
            }
            input {
                min-height: unset;
            }
            table {
                thead,tbody {
                    width: 98%;
                    margin: 0 auto;
                }
            }
        }
    }
}

.profile {
    position: relative;
    .profile-form {
        max-width: 800px;
        margin: 0 auto;
        .input-container {
            width: 48%;
            label {
                margin-bottom: 10px;
                color: #000;
                font-size: 18px;
            }
            &:last-child {
                width: 100%;
            }
            
        }
        .text-container {
            width: 100%;
        }
        input, textarea {
            background: linear-gradient(0deg, #EDF2F7, #EDF2F7), #FFFFFF;
            border: 1px solid #E0E4EC;
            outline: none;
            resize: none;
            padding: 10px 15px;
            font-size: 16px;
        }
    }
    .buttons {
        max-width: 800px;
        margin: 0 auto;
    }
}

.get-coupon h4 {
    background: none !important;
    color: #000 !important;
    padding: 0 !important;
}

.coupon-list,.tracking-coupon, .one-time-coupon, .get-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    padding: 40px 0;
    
    .coupon-list-container, .tracking-container, .one-time-container, .get-coupon-contianer {
        background: #fff;
        border-radius: 15px;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
        position: relative;
        .close {
            position: absolute;
            border: none;
            background: none;
            outline: none;
            right: 15px;
            top: 15px;
        }
        .buttons {
            button {
                width: 100%;
                min-height: 56px;
                font-size: 16px;
                font-weight: bold;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            max-height: 400px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .input-container {
                margin-top: 1.5rem;
                label {
                    display: flex;
                    margin-bottom: 10px;
                }
                input, select, textarea {
                    width: 100%;
                    border: 1px solid rgba(86, 103, 137, 0.26);
                    border-radius: 8px;
                }
                ul {
                    max-height: 75px;
                    li.influencer-box {
                        font-size: 1vw;
                        color: #2657b3;
                        margin-bottom: 20px;
                        font-weight: bold;
                        img {
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            object-fit: contain;
                            margin-right: 15px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            button {
                min-width: 200px;
                border-radius: 40px;
                min-height: 42px;
                padding: 7px 5rem;
            }
        }
    }
    ul {
        border: 1px solid #a5a5a5;
        background: #fff;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        bottom: -58px;
        width: 100%;
        max-height: 60px;
        z-index: 2;
        overflow-y: scroll;
        li {
            padding: 5px 10px;
            border-bottom: 1px solid #efefef;
            cursor: pointer;
        }
    }
}