
.home .container-fluid {
    padding: 0 !important;
}

.home .container p {
    margin-bottom: 0;
}

.home .home-side {
    background-color: #5172FC;
    padding: 2rem 1rem;
}

.home .home-container {
    padding: 0 !important;
}

.home-container .home-content .content-box .content-list .customer-box {
    background: #e0effe;
    border-radius: 5px;
}

.home .home-container .home-announcement {
    background: #edf4fb;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.home-container .home-content .content-box .management-list .management-box {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .home-container .home-content .content-box .content-list .customer-box {
        width: 48%;
        flex: 1 0 48%;
        max-width: 48%;
    }

    .home-container .home-content .content-box .management-list .management-box {
        width: fit-content;
    }

    .home-container .home-content .content-box .management-list .management-box span {
        font-size: 14px;
    }

    .home-container .home-content .content-box .management-list .management-box {
        margin: 0 11px 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .home-container .home-content .content-box .content-list .customer-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-container .home-content .content-box .content-list .customer-box .list-content {
        width: 65%;
    }

    .home-container .home-content .content-box .content-list .customer-box .buttons {
        width: fit-content;
        height: fit-content;
    }
}