.sidebar {
    .sidebar-container {
        min-height: 100vh;
        .side-tab {
            background: #5172FC;
            width: 20%;
            max-width: 20%;
            padding-left: 0;
            padding-right: 0;
            .nav-item {
                a {
                    border-radius: 0;
                    font-size: 14px;
                    img {
                        width: 20px;
                        object-fit: contain;
                    }
                }
                .nav-link.active {
                    background-color: #4563DF;
                }
            }
        }
    }
}