$primarColor: #E6E6E6;
$blackColor: #000000;
.sidebar {
    width: fit-content;
    width: 25%;
    .navbar {
        min-height: 100vh;
        align-items: flex-start;
        padding: 0;
        height: 100%;
        position: relative;
        .container-fluid {
            flex-direction: column;
            background: $primarColor;
            align-items: flex-start;
            height: 100%;
            padding-top: 1.5rem;
            padding-left: 0;
            padding-right: 0;
            a {
                text-decoration: none;
                width: 100%;
                padding-bottom: 15px;
                .user-img {
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                }
                p {
                    font-size: 1.3vw;
                }
            }
            .navbar-collapse {
                flex-direction: column;
                height: 100%;
                width: 100%;
                margin: 0;
                .navbar-nav-scroll {
                    flex-direction: column;
                    height: 100%;
                    max-height: 100% !important;
                    min-height: 100vh;
                    width: 100%;
                    padding: 0 1.2rem 0 0.6rem;
                    a {
                        margin-left: 0;
                        margin-right: 0;
                        padding: 0.8rem 1rem !important;
                        margin-bottom: 1.2rem;
                        border-radius: 15px;
                        font-size: 1.5vw;
                        img {
                            filter: invert(1);
                        }
                    }
                    a.active {
                        background: $blackColor;
                        color: #fff !important;
                        img {
                            filter: invert(0);
                        }
                    }
                }
            }
            .user {
                img {
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
        }
    }
    .notifications {
        position: absolute;
        z-index: 9;
        right: 35px;
        top: 35px;
        span {
            position: absolute;
            top: -11px;
            right: -8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            // background-color: #034870;
            background-color: #fff;
            // color: #fff;
            color: #034870;
            font-size: 14px;
            // box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
            border: 1px solid #a8a8a8;
        }
    }
    .notification-list {
        position: absolute;
        top: 65px;
        transition: .8s ease-in-out;
        right: -250px;
        z-index: 3;
        width: fit-content;
        height: fit-content;
        background: #fff;
        border-radius: 5px;
        padding-left: 0;
        min-width: 185px;
        border: none;
        button {
            text-decoration: underline;
            background-color: transparent;
            border: none;
            box-shadow: none;
            width: 100%;
            text-align: right;
            font-size: 12px;
            padding: 0 8px;
        }
        li {
            display: flex;
            font-size: 13px;
            border-bottom: 1px solid #e7e7e7;
            padding: 10px 12px;
            color: $blackColor;
            &:last-child {
                border-bottom: none;
            }


        }
    }
    .notification-list.active {
        right: 15px;
        transition: .8s ease-in-out;
        border: 1px solid #034870;
        border-radius: 24px;
        min-width: 185px;
    }
}