.sidebar {
    width: fit-content;
    width: 22%;
    .navbar {
        min-height: 100vh;
        align-items: flex-start;
        padding: 0;
        height: 100%;
        position: relative;
        .container-fluid {
            flex-direction: column;
            background: #2657b3;
            align-items: flex-start;
            height: 100%;
            padding-top: 1.5rem;
            padding-left: 0;
            padding-right: 0;
            a {
                text-decoration: none;
            }
            .navbar-collapse {
                flex-direction: column;
                height: 100%;
                width: 100%;
                margin: 0;
                .navbar-nav-scroll {
                    flex-direction: column;
                    height: 100%;
                    max-height: 100% !important;
                    min-height: 100vh;
                    width: 100%;
                    a {
                        margin-left: 0;
                        margin-right: 0;
                        padding: .8rem 1rem !important;
                    }
                    a.active {
                        background: #3965c0;
                    }
                }
            }
            .user {
                img {
                    height: 45%;
                    border-radius: 50%;
                    min-width: 45px;
                    min-height: 45px;
                    object-fit: cover;
                    max-height: 45px;
                }
            }
        }
    }
    .notifications {
        position: absolute;
        z-index: 9;
        right: 10%;
        top: 3.5%;
        span {
            position: absolute;
            top: -11px;
            right: -8px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #0d6efd;
            color: #fff;
            font-size: 14px;
            box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
        }
    }
    .notification-list {
        position: absolute;
        top: 6%;
        left: 10px;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        background: #fff;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding-left: 0;
        min-width: 185px;
        button {
            text-decoration: underline;
            background-color: transparent;
            border: none;
            box-shadow: none;
            width: 100%;
            text-align: right;
            font-size: 12px;
            padding: 0 8px;
        }
        li {
            display: flex;
            font-size: 13px;
            border-bottom: 1px solid #e7e7e7;
            padding: 6px 8px;
        }
    }
}