.sidebar {
    .sidebar-container {
        min-height: 100vh;
        .side-tab {
            background: #5172FC;
            width: 19%;
            max-width: 19%;
            padding-left: 0;
            padding-right: 0;
            min-width: 214px;
            .nav-item {
                a {
                    border-radius: 0;
                    font-size: 1.3vw;
                    img {
                        width: 1.7vw;
                        object-fit: contain;
                    }
                }
                .nav-link.active {
                    background-color: #4563DF;
                }
            }
        }
        .tab-main {
            width: 79%;
        }
    }
}