* {
  margin: 0;
  padding: 0;
}

p,h2,h3,span {
  text-align: left;
}

input, select, .input, textarea {
  outline: none;
  border: 1px solid #ccc;
  min-height: 52px;
  border-radius: 5px;
  box-shadow: none;
  padding: 6px 20px;
  resize: none !important;
  display: flex;
  color: rgba(21, 25, 32, 0.5);
}

.input-container {
  position: relative;
  ul.product-list {
      border: 1px solid #a5a5a5;
      background: #fff;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      position: absolute;
      left: 0;
      bottom: -58px;
      width: 100%;
      max-height: 60px;
      z-index: 2;
      overflow-y: scroll;
      &::-webkit-scrollbar {
          width: 9px;
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 2px grey;
          border-radius: 0px;
        }
        &::-webkit-scrollbar-thumb {
          background: #ccc; 
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #a1a1a1; 
        }
      li {
          padding: 5px 10px;
          border-bottom: 1px solid #efefef;
          cursor: pointer;
          &:hover {
              background-color: #a1a1a1;
          }
      }
  }
}

table {
  tr,th {
      text-align: center;
  }
  button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100px;
      padding: 10px 18px;
      border: none;
      border-radius: 10px;
      outline: none;
  }
  .headings {
      background: #EFF6FF;
      border-top: 0.5px solid #94A3B8;
      th {
          padding: 14px 10px;
          border-right: 1px solid #d5d5d5;
          &:nth-child(1) {
              border-left: 1px solid #d5d5d5;
          }
      }
  }
  tr {
      border-bottom: 1px solid #E1E0E2;
      width: 100%;
      padding: 0 1rem;
      padding-bottom: 10px;
      margin-bottom: 26px;
      &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 0;
      }
      td {
          // display: flex;
          line-height: 1;
          padding: 16px 8px;
          font-size: 14px;
          border-right: 1px solid #d5d5d5;
          border-bottom: 1px solid #d5d5d5;
          &:nth-child(1) {
              border-left: 1px solid #d5d5d5;
          }
          button {
            background: #5172FC;
            color: #fff;
            min-width: 100px;
          }
          &:last-child {
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
      td.category {
          border-radius: 5px;
          padding: 5px;
          position: relative;
          &::before {
              content: '';
              position: absolute;
              inset: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(148, 163, 184, 0.16);
              height: 27px;
              width: 90%;
              margin: auto;
              border-radius: 5px;
          }
      }
      td.category.edit-mode {
        &::before {
          content: none;
        }
      }
  }
}

input[type="radio"] {
  min-height: fit-content;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

ul {
  padding: 0 !important;
  li {
    &::marker {
      content: none;
      display: none;
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 4;
  span {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
}

.main-heading {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1rem;
}

.routes {
  display: flex;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #000;
  background: none;
  text-decoration: none;
  min-width: 150px;
}

.button-blue {
  background: #5172FC;
  color: #fff;
}

.navbar {
  .container-fluid {
      background: #fff;
      padding-top: 3px;
      padding-bottom: 3px;
      form {
          .form-control {
              max-height: 38px;
              min-height: unset;
              border: 1px solid #E9ECEF;
          }
      }
      .navbar-nav {
          a {
              display: flex;
              align-items: center;
              margin: 0 15px;
              text-decoration: none;
          }
          p {
              color: #000;
              margin-bottom: 0;
              margin-left: 15px;
          }
      }
  }
}