* {
  margin: 0;
  padding: 0;
}

p,h2,h3,span {
  text-align: left;
}

input, select, .input {
  outline: none;
  border: 1px solid #ccc;
  min-height: 52px;
  border-radius: 5px;
  box-shadow: none;
  padding: 6px 20px;
}

table {
  tr,th {
      text-align: center;
  }
  button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100px;
      padding: 10px 18px;
      border: none;
      border-radius: 10px;
      outline: none;
  }
  .headings {
      background: #EFF6FF;
      border-top: 0.5px solid #94A3B8;
      th {
          padding: 14px 0;
      }
  }
  tr {
      border-bottom: 1px solid #E1E0E2;
      width: 100%;
      padding: 0 1rem;
      padding-bottom: 10px;
      margin-bottom: 26px;
      &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
          margin-bottom: 0;
      }
      td {
          // display: flex;
          line-height: 1;
          padding: 16px 8px;
          button {
            background: #5172FC;
            color: #fff;
            min-width: 100px;
          }
          &:last-child {
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
      td.category {
          border-radius: 5px;
          padding: 5px;
          position: relative;
          &::before {
              content: '';
              position: absolute;
              inset: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgba(148, 163, 184, 0.16);
              height: 27px;
              width: 102%;
              margin: auto;
              border-radius: 5px;
          }
      }
  }
}

input[type="radio"] {
  min-height: fit-content;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

ul {
  padding: 0 !important;
  li {
    &::marker {
      content: none;
      display: none;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
  background: none;
  text-decoration: none;
}
.button-blue {
  background: #5172FC;
  color: #fff;
}